JUDGE0_API_KEY=<JUDGE0_API_KEY (Get yours at https://platform.sulu.sh/apis/judge0)>
GROQ_API_KEY=<GROQ_API_KEY>
JUDGE0_CE_BASE_URL=https://judge0-ce.p.sulu.sh
JUDGE0_EXTRA_CE_BASE_URL=https://judge0-extra-ce.p.sulu.sh
GROQ_API_ENDPOINT=https://api.groq.com/openai/v1/chat/completions
DEFAULT_LANGUAGE_ID=<DEFAULT_LANGUAGE_ID>